{% extends 'layout.html' %} {% block article %} {% from "includes/formhelpers.html" import render_field %}



<form method="POST" action="" enctype="multipart/form-data">
    {{ render_field(form.title,class = "form-control") }} {{ render_field(form.content,class = "form-control") }} {{ render_field(form.tags,class = "form-control") }} {{ render_field(form.image,class="form-control") }}{{ render_field(form.submit,class="btn
    btn-primary") }}

</form>
{{ ckeditor.load() }} {{ ckeditor.config(name='content') }}{% if durum %}
<div class="alert alert-info">
    <strong>Bilgi!</strong> {{durum}}
</div> {% endif %}{% endblock %}