{% extends 'layout.html' %} {% block article %}

<!-- Featured blog post buraya ana sayfa ilk post gelecek-->
<div class="card mb-4 ">
    <a href="#! "><img class="card-img-top " src="{{ articles[0].image_path }} " alt="... " /></a>
    <div class="card-body ">
        <div class="small text-muted ">{{ articles[0].time.strftime('%d-%M-%Y Saat: %H:%M') }}</div>
        <h2 class="card-title ">{{ articles[0].title }}</h2>
        <p class="card-text ">{{ articles[0].content | striptags | truncate(250, True, '...')}} </p>
        <p>{% for atg in article_tags%} {% if atg.time == articles[0].time %}
            <a class="badge bg-secondary text-decoration-none link-light " href="/articles/{{atg.tag_name}}">{{atg.tag_name}}</a> {% endif %}{% endfor %}
        </p>


        <a class="btn btn-primary " href="/article?q={{ articles[0].time }}">Devamını oku →</a>
    </div>
</div>

<!-- Nested row for non-featured blog posts-->
<div class="row ">
    <!-- Blog post baş -->
    {% set i=0 %} {% for article in articles[1:] %} {% if i%2==0 %}
    <div class="col-lg-6 ">
        <!-- Blog post-->
        <div class="card mb-4 ">
            <a href="/article?q={{ article.time }} "><img class="card-img-top " src="{{article.image_path}}" alt="... " /></a>
            <div class="card-body ">
                <div class="small text-muted ">{{ article.time.strftime('%d-%M-%Y Saat: %H:%M') }}</div>
                <h2 class="card-title h4 ">{{ article.title}}</h2>
                <p class="card-text ">{{ article.content| striptags | truncate(250, True, '...') }} </p>
                <p>{% for atg in article_tags%} {% if atg.time == article.time %}
                    <a class="badge bg-secondary text-decoration-none link-light " href="/articles/{{atg.tag_name}}">{{atg.tag_name}}</a> {% endif %}{% endfor %}
                </p>
                <a class="btn btn-primary " href="/article?q={{ article.time }}">Devamını oku →</a>
            </div>
        </div>

    </div>
    <!-- Blog post son -->

    {% endif %} {% set i=i+1 %} {% endfor %}
    <!-- Blog post son -->
</div>




{% endblock %}